<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: #f4f4f4;
margin: 0;
padding: 0;
">
    <div style="
    padding: .75rem;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;">
        <img src="https://www.windowsupportfund.uk/assets/img/logo-2.svg" alt="" width="180px" style="max-width: 100%;">
    </div>
    <div style="
    background-color: #fff;
    padding: .75rem;
    width: 90%;
    max-width: 600px;
    margin: 1rem auto;
    border-radius: 5px;
    border: 1px solid #cee0f3;
    ">
    <h1>An applicant has opted out of their application</h1>
    <p>The applicant with an email as stated below has opted out of their application and no longer wishes to be contacted by the Window Support Fund</p>
    <p><strong>Email:</strong>{{email}}</p>
    </div>
    <div style="
    background-color: #d9e7f2;
    padding: 1rem;
    border-radius: 5px;
    width: 90%;
    max-width: 600px;
    margin: 1rem auto;
    font-size: small;
    ">
        <p>You have been sent this email as you are an admin</p>


    </div>
</body>

</html>